body {
    background-color: #e0e0e4;
}


@media only screen and (min-width: 375px) {

/* HEADING */
h1 {
        text-align: center;
        color: black;
        font-family: 'Libre Baskerville', serif;
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 20px;
}

/* Question */

#question {
    width: 60%;
    /* height: 40px; */
    padding: 30px;
    background-color: white;
    color: black;
    font-size: 16px;
    margin: 10px auto;
    font-family: 'Libre Baskerville', serif;
    border-radius: 1px;
    font-weight: 800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Answers */

#answer {
    width: 60%;
    height: 300px;
    margin: 10px auto;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 1px;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#answer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0;
}

#answer ul li {
    width: 70%;
    height: 25px;
    background-color: #aeb110;
    padding: 25px 20px 15px 20px;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* new question */

#new {
    width: 60%;
    margin: 10px auto;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 1px;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#next, #reset {
    width: 70%;
    height: 5px;
    padding: 10px 20px 20px 20px;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#next {
    background-color: #ff8e25;
}

#reset {
    background-color: rgb(146, 145, 140);
}

/* Scoreboard */

#scores {
    display: flex;
    width: 60%;
    padding: 30px;
    background-color: white;
    justify-content: space-evenly;
    margin: 10px auto;
    font-family: 'Libre Baskerville', serif;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}

#player1, #player2 { 
    width: 60%;
    background-color: #507ac9;
    margin: 5px;
    text-align: center;
    border-radius: 1px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.wins {
    width: 70%;
    
    background-color: #aeb110;
    padding: 100px 20px 100px 20px;
    font-size: 22px;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


}



@media only screen and (min-width: 769px) {



#question {
    width: 30%;
    
}

#answer {
    width: 30%;
}



#scores {
    width: 30%;
}

#new {
    width: 30%;
}

#next, #reset {
    height: 40px;
    padding: 20px 0 0 
}



}





